@import "@styles/theme.scss";

.home-spread {
  margin-top: 40px;
  background: #ffffff;
}
.home-spread__title{
  width: 100%;
  border-bottom: 1px solid #ddd;
  &-txt{
    color: $black;
    font-size: 30px;
    height: 70px;
    line-height: 70px;
    padding:0 15px;
  }
}

.home-spread__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &-item{
    width: 100%;
    display: flex;
    border-bottom:1px solid #ddd;
    position: relative;
    &-left {
      display: flex;
      flex-direction: column;
      padding: 15px 20px;
      position: relative;
      &-ibx{
        width: 180px;
        height: 180px;
        background: #f4f4f4;
        border-radius: 15px;
        border:1px solid #eee;
        margin-top: 20px;
        overflow: hidden;
        position: relative;
        &-img {
          width: 180px;
          height: 180px;
          background: #f4f4f4;
          border-radius: 15px;
          border:1px solid #eee;
        }
        &-warp{
          position: absolute;
          bottom: 0;
          left: 0;
          height: 55px;
          width: 180px;
          opacity: 0.6;
          font-weight: 400;
          color: #fff;
          background-color: #000;
          text-align: center;
          line-height: 55px;
          font-size: 28px;
        }
      }
      &-area{
        width: 120px;
        height: 35px;
        position: absolute;
        text-align: center;
        top: 12px;
        left:9px;
        color: #fff;
        font-size: 22px;
        line-height: 35px;
        &-1{
          display: block;
          background-color: #356265;
        }
        &-2{
          display: block;
          background-color: #be6b4d;
        }
        &-3{
          display: block;
          background-color: #3d3d8a;
        }
        &-4{
          display: block;
          background-color: #ee6c6c;
        }
      }
    }
    &-right{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 23px 0;
      width: 100%;
      &-title{
        text-align: left;
        color: #000;
      }
      &-activities{
        text-align: left;
        color: rgba(161,161,161,1);
        font-size: 28px;
        padding-right: 90px;
      }
      &-tag{
        display: flex;
        &-item{
          margin-right: 8px;
          color: rgba(183,128,73,1);
          font-size: 24px;
        }
      }
      &-rules{
        height: 40px;
        width: 95%;
        background-color: rgba(249,92,8,1);
        border-radius: 20px;
        font-size: 25px;
        line-height: 40px;
        padding: 0 20px;
        color: #fff;
        margin-left: -5px;
      }
    }
    &-fixed{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      top: 20px;
      right: 25px;
      &-title{
        font-size: 26px;
        color: rgba(83,180,43,1);
      }
    }
  }
}
