@import "./mixins.scss";

$primary-color: #ab2b2b;
$disabled-color: #dddddd;

$black: #000000;
$white: #ffffff;
$orange: rgba(249,92,7,1);
$gray: #9a6200;
$bg_light_gray:  rgba(240,240,240,1);
$bg_gray:  rgba(134,135,136,1);

$text-color: #333333;
$text-color-light: #666666;
$text-color-lighter: #999999;

$border-color: #dddddd;
$border-radius: 4px;

$image-bg: #f4f4f4;
