@import "@styles/theme.scss";

.user-menu {
  display: flex;
  flex-direction: column;
}
.user-menu__title{
  display: flex;
  align-items: center;
  padding:0 15px;
  &-txt {
    width: 100%;
    padding:20px 15px;
    color: #999;
    font-size: 28px;
    line-height: 28px;
    /*border-bottom: 1px solid $border-color;*/
  }
}
.user-menu__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: $bg_light_gray;
  &-txt {
    width: 100%;
    padding:20px 15px;
    color: $gray;
    font-size: 34px;
    line-height: 34px;
    /*border-bottom: 1px solid $border-color;*/
  }
  &-arrow{
    padding:20px 15px;
    font-size: 34px;
    line-height: 34px;
    color: #ddd;
    /*border-bottom: 1px solid $border-color;*/
  }
}
.user-menu__invite-warp{
  width: 100%;
  padding: 0 15px;
  background-color: $bg_light_gray;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  &-item{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &-h3{
      display: flex;
      font-size: 60px;
      justify-content: center;
      align-items: flex-end;
      height: 80px;
      line-height: 80px;
      color: $gray;
      &-span{
        font-size: 30px;
        line-height: 60px;
        margin-left: 5px;
        color: $gray;
      }
    }
    &-p{
      font-size: 30px;
      color: $gray;
    }
  }
  &-rb{
    border-left: 1px solid #aaa;
  }
}
